body{
  margin: 0;
  padding: 0;
  background-color: rgba(26, 33, 39, 1);
  font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

.middle {
  width: auto;
  height: 250px;
  background: rgba(9,12,15,1);
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(225,225,225,1);
}

.tab {
  width: auto;
  height: 28px;
  overflow: hidden;
  background-color: rgba(26, 33, 39, 1);
}

.tab > button[number='4'] {
  background-color: rgba(115,134,120,1);
}
.tab > button[number='4']:hover {
  background-color: rgba(115,134,120,1);
}
.tab > button[number='4'].active {
  background-color: rgba(115,134,120,1);
}

.tab > button[number='2'] {
  background-color: rgba(137,54,52,1);
}
.tab > button[number='2']:hover {
  background-color: rgba(137,54,52,1);
}
.tab > button[number='2'].active {
  background-color: rgba(137,54,52,1);
}

.tab > button[number='6'] {
  background-color: rgba(100,80,151,1);
}
.tab > button[number='6']:hover {
  background-color: rgba(100,80,151,1);
}
.tab > button[number='6'].active {
  background-color: rgba(100,80,151,1);
}

.tab > button[number='3'] {
  background-color: rgba(237,166,95,1);
}
.tab > button[number='3']:hover {
  background-color: rgba(237,166,95,1);
}
.tab > button[number='3'].active {
  background-color: rgba(237,166,95,1);
}

.tab > button[number='5'] {
  background-color: rgba(223,188,255,1);
}
.tab > button[number='5']:hover {
  background-color: rgba(223,188,255,1);
}
.tab > button[number='5'].active {
  background-color: rgba(223,188,255,1);
}

.tablink {
  background-color: rgba(68, 83, 96, 1);
  height: inherit;
  width: 15%;
  float: left;
  margin-top: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(6,8,10,1);
}

.tabcontent {
  width: inherit;
  display: none;
  padding: 5px;
}

.tabcontent ul {
  list-style-type: none;
  width: inherit;
  padding-left: 15px;
  padding-right: 15px;
}

.tabcontent a {
  color: inherit;
  text-decoration: none;
}

.tabcontent li img {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 15px 0 0;
  padding: 4px 4px 4px 4px;
}

.tabcontent li h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  margin-top: 4px;
  margin-bottom: 0px;
}

.tabcontent li h4 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: .35rem;
  margin-right: 15px;
  float: right;
}

.tabcontent li p {
  font-family: 'Ubuntu Mono', monospace;
  font-size: .5rem;
  margin-top: 6px;
}

.tabcontent li {
  overflow: auto;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.tabcontent li:hover {
  background-color: #3A4853;
}

div.a {
  margin-left: 15%;
  margin-top: 20px;
  margin-right: 15%;
  line-height: 5px;
}

div.a > h1 {
  font-size: 3.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255,255,255,1);
  padding-left: 130px;
  padding-top: 25px;
}

div.a > h2 {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255,255,255,1);
  padding-left: 130px;
  padding-top: 6px;
}

div.a > h3 {
  font-size: 1rem;
  font-family: 'Ubuntu Mono', monospace;
  color: rgba(255,255,255,1);
  padding-left: 130px;
  padding-top: 3px;
}

div.a > h4 {
  font-size: 1rem;
  font-family: 'Ubuntu Mono', monospace;
  color: rgba(6,8,10,1);
  float: right;
  padding-top: 5px
}

div.a > img {
  width: 115px;
  border-radius: 50%;
  float:left;
}

div.a > button {
  background-color: rgba(255,228, 1);
  width: 15%;
  height: 35px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 16px;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(6,8,10,1);
}

div.a > button:active {
  background-color: rgba(135,121,21);
}

div.a > a > img {
  position:relative;
  float:right;
  top: -40px;
  width: 40px;
  margin-left: 12px;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* Lift */
.hvr-lift {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-lift:hover, .hvr-lift:focus, .hvr-lift:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
