body{
  margin: 0;
  padding: 0;
  background-color: rgba(31, 25, 35, 1);
}
.middle{
  width: auto;
  height: 700px;
  background: rgba(223, 188, 255, 1);
  padding: 15px;
  text-align: left;
  margin-top: 25%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%;
  font-family: 'Montserrat', sans-serif;
}
